In [1]:
import pandas as pd

In [9]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
            index=[1,7,10,30]
            )

In [7]:
print(psg_players)

1      Navas
7     Mbappe
10    Neymar
30     Messy
dtype: object

In [12]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [13]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [18]:
dict = {'Jugador': ['Navas','Mbappe','Neymar','Messi'],
'Altura': [183.0,170.0,170.0,165.0],
'Goles':[2,200,200,200]}

In [21]:
df_Players = pd.DataFrame(dict,index=[1,7,10,30])

In [22]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

In [25]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [24]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')